.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 100000;
    opacity: 1;
}

.modal {
    position: fixed;
    display: grid;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background: #252527;
    border-radius: 20px;
    z-index: 100001;
    opacity: 1;
    transition: all 0.6s ease;

    width: 80dvw;
    /* height: 70dvh; */
    overflow: hidden;

    /* width: 70dvw; */
    /* height: 70dvh; */
}


@starting-style {
    .modal-backdrop {
        opacity: 0;
    }

    .modal {
        opacity: 0;
        transform: translate(-50%, -40%)
    }
}

.modal-content {
    position: relative;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 3fr 4fr;
    flex: 1;

    overflow: hidden;


    &>button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        appearance: none;
        outline: none;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 1;
    }

}

.modal-gallery {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    /* grid-template-rows: 1fr 4em; */

    & .gallery-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.4em;

        &>*.selected {
            opacity: 1;
        }

        &>* {
            width: 20px;
            flex: 1;
            aspect-ratio: 16/10;
            max-height: 6em;
            /* height: 100%; */
            border-radius: 8px;
            cursor: pointer;
            opacity: 0.4;
            transition: all 0.2s ease;

            background: rgb(0, 0, 0, 0.3);
            object-fit: contain;
            object-position: top;

            &:hover:not(.selected) {
                opacity: 0.8;
            }
        }
    }
}

video,
.media-img {
    aspect-ratio: 16/9 !important;
    width: 100% !important;
    height: auto !important;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

    background: rgb(0, 0, 0, 0.3);
    object-fit: contain;
    object-position: top;

    transition: box-shadow 0.2s ease;

    &:hover {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
        transition: box-shadow 0.2s ease;
    }
}

.fullscreen {
    display: flex;
    padding: 8vw;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999999999999;

    &>button {
        display: flex;
        appearance: none;
        -moz-appearance: none;
        position: fixed;
        top: 5em;
        right: 5em;
        background-color: #505053;
        color: white;
        outline: none;
        border: none;
        width: 4em;
        height: 4em;
        border-radius: 50%;
        padding: 1.3em;
        opacity: 0.8;
        transition: opacity 0.2s ease;
        cursor: pointer;

        &:hover {
            opacity: 1;
            transition: opacity 0.2s ease;
        }
    }

    &>img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        border-radius: 1.6em;
        box-shadow: 0 0 48px rgba(255, 255, 255, 0.1);
    }
}